* {
  border-width: 0;
  margin: 0;
  padding: 0;
}

body {
  font: normal 13px/18px 'Raleway', sans-serif;
  background: #f7f7f7;
  color: #373737;
}

header {
  background: #103d52;
  padding: 10px 0 5px 0;
  border-bottom: #fff solid 1px;
}

header div {
  width: 61%;
  margin: 0 auto;
  position: relative;
}

.inputs {
  position: absolute;
  top: 2px;
  right: 0;
  text-align: right;
}

.submit{
  background-color: rgb(16, 61, 82);
  background-image: linear-gradient(rgb(59, 96, 113), rgb(16, 61, 82));
  border-bottom-color: rgb(6, 23, 31);
  border-radius: 3px;
  border: solid 1px rgb(14, 55, 73);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.35) 0px 0px 2px 0px;
  color: #ff9;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  height: 14px;
  line-height: 14px;
  margin: 0 10px 0 2px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-style: solid;
  transition-delay: 0;
  transition-duration: 0.1s;
  transition-property: all;
  transition-timing-function: linear;
}

input[type="text"],
input[type="password"] {
  background: #678491;
  border: solid 1px #7D95A1;
  border-radius: 2px;
  padding: 5px;
  margin: 0 0 0 3px;
  position: relative;
  top: -2px;
  color: #fff;
}

#report,
#token{
  width: 60px;
}

#server{
  width: 150px;
}

.outcome {
  text-align: center;
}

.outcome-selector {
  padding: 10px;
  font-size: 15px;
  width: 200px;
  display: inline-block;
  height: 24px;
  position: relative;
  top: -2px;
  opacity: 0.2;
}

.stage {
  margin: 0 auto 30px auto;
  text-align: center;
  border-bottom: dotted 1px #c7c7c7;
  padding: 45px 30px;
  background: #fff;
  font-size: 24px;
  line-height: 40px;
  font-weight: 200;
  color: #000;
}

.stage .outcome-text{
  font-weight: 700;
  white-space: nowrap;
}

.stage strong {
  font-weight: 700;
  color: #34CF62;
  white-space: nowrap;
}

.rule-show .outcome {
  font-weight: 700;
  color: #000;
  white-space: nowrap;
}

.rule-show .arrow-down {
  color: #f00;
}

.rule-show .arrow-up {
  color: #34CF62;
}

.rule-show .arrow-down,
.rule-show .arrow-up {
  position: relative;
  top: 2px;
  right: -3px;
}

.rule-show .lift small{
  font-size: 18px;
}

.rule-show em{
  font-style: normal;
  font-weight: 400;
  color: #103d52;
}

.actors {
  width: 60%;
  text-align: left;
  margin: 30px auto;
  display: none;
}

.actors-slot{
  border-radius: 6px;
  border: dotted 1px #a7a7a7;
  padding: 30px;
  background: #fff;
}

td {
  vertical-align: top;
  padding: 0 60px 0 0;
}

th {
  color: #676767;
  font-weight: 400;
}

ul.parent li {
  list-style: none;
  padding: 0;
  color: #03afe5;
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
}

ul.parent li i {
  font-size: 13px;
  color: #34CF62;
  margin: 0 1px 0 0;
}

ul.parent li i.fa-circle-o {
  color: #b7b7b7;
}

ul.parent li.active {
  color: #103d52;
  font-weight: 700;
}

ul.parent li.none {
  color: #f00;
  font-weight: 500;
}

ul.parent li.none:hover {
  color: #f00;
  cursor: default;
}

ul.child li {
  color: #103d52;
  padding: 3px 0;
}

.level-1 ul.child li .item-pill {
  margin-left: 66px;
}

.actors .no_children{
  background-image: none;
  border-style: solid;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  color: rgb(16, 61, 82);
  background: #fff;
  border-color: #d4d6d7;
  border-bottom-color: #c4c6c7;
}

.actors .no_children:hover{
  color: #103d52;
}

ul.parent li i.arrow-up {
  color: #34CF62;
}

ul.parent li i.arrow-down {
  color: #f00;
}

ul.parent li .very-unlikely {
  color: #979797;
}

.actors .lift {
  margin: 0 0 0 5px;
  font-size: 12px;
  font-weight: 500;
}

.actors .lift small{
  font-size: 12px;
}

.category-pill {
  background-color: rgb(25, 148, 208);
  background-image: linear-gradient(rgb(3, 175, 229), rgb(25, 148, 208));
  border-bottom-color: rgb(20, 116, 162);
  border-radius: 3px;
  border-color: rgb(25, 148, 208);
  border-bottom-color: rgb(20, 116, 162);
  border-width: 1px;
  border-style: solid;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.25px;
  height: 12px;
  line-height: 12px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  max-width: 500px;
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
  vertical-align: middle;
  white-space: nowrap;
  word-break: break-all;
}

.item-pill {
  background-color: rgb(211, 232, 239);
  background-image: linear-gradient(rgb(255, 255, 255), rgb(211, 232, 239));
  background-position-x: 0;
  background-position-y: 0;
  border-color: rgb(191, 230, 243);
  border-bottom-color: rgb(170, 222, 239);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  color: rgb(16, 61, 82);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 12px;
  padding: 5px 10px;
  height: 12px;
  text-align: left;
  text-decoration-color: rgb(16, 61, 82);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-shadow: rgb(255, 255, 255) 1px 1px 1px;
  vertical-align: middle;
  white-space: nowrap;
}

.with-cat {
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  height: 25px;
}

.with-cat small {
  display: block;
  font-size: 10px;
  font-weight: 500;
  color: #3B6071;
}

.item-pill:hover,
.category-pill:hover {
  background-image: none;
  text-decoration: none;
}

.active .category-pill,
.active-item .item-pill {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(255, 255, 102, 0.9) 0 0 4px 4px;
}

.side-prob {
  font-size: 12px;
  color: #676767;
  font-weight: 400;
  padding: 0 0 0 5px;
}

.spark-bar {
  width: 32px;
  height: 4px;
  border: solid 1px #c7dce6;
  background: #fff;
  position: relative;
  display: inline-block;
  margin: 0 3px 0 0;
}

.spark-bar-fill {
  height: 2px;
  background: #1994d0;
  position: absolute;
  top: 1px;
  right: 1px;
  display: inline-block;
}

.dots{
  display: none;
}

.level-1 .dots{
  display: inline-block;
}

.level-1 .category-pill{
  margin-left: 5px;
}

.sub-text{
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #646667;
}

h2 {
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  color: #103d52;
}

.loader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.1);
  display: none;
}

.loader span{
  position: relative;
  top: 50%;
  left: 50%;
}

