* {
  border-width: 0;
  margin: 0;
  padding: 0;
}

body {
  font: normal 13px/18px 'Raleway', sans-serif;
  background: #fff;
  color: #373737;
}

header {
  background: #f7f7f7;
  padding: 10px 0 5px 0;
  border-bottom: #e6e6e6 solid 1px;
}

header div {
  width: 61%;
  margin: 0 auto;
  position: relative;
  white-space: nowrap;
}

.inputs {
  position: absolute;
  top: 2px;
  right: 0;
  text-align: right;
}

.submit{
  background: #fff;
  border: solid 1px #d6d6d6;
  font-size: 18px;
  color: #34CF62;
  padding: 3px 7px 2px 7px;
  border-radius: 2px;
}

input[type="text"],
input[type="password"] {
  background: #f7f7f7;
  border: solid 1px #d6d6d6;
  border-radius: 2px;
  padding: 5px;
  margin: 0 0 0 3px;
  position: relative;
  top: -2px;
  color: #000;
  font-size: 13px;
}

#report,
#token{
  width: 80px;
}

#server{
  width: 200px;
}

.outcome {
  text-align: center;
}

.outcome-selector {
  font-size: 15px;
  width: 200px;
  display: inline-block;
  height: 24px;
  position: relative;
  top: -2px;
  opacity: 0.2;
  border: solid 1px #d6d6d6;
}

.stage {
  margin: 0 auto;
  text-align: center;
  padding: 45px 30px;
  background: #fff;
  font-size: 24px;
  line-height: 40px;
  font-weight: 200;
  color: #000;
}

.stage strong {
  font-weight: 700;
  color: #34CF62;
  white-space: nowrap;
}

.rule-show .outcome {
  font-weight: 700;
  color: #000;
  white-space: nowrap;
}

.arrow-down {
  color: #f00 !important;
}

.arrow-up {
  color: #34CF62 !important;
}

.rule-show .arrow-down,
.rule-show .arrow-up {
  position: relative;
  top: 2px;
  right: -3px;
}

.rule-show .lift small{
  font-size: 18px;
}

.rule-show em{
  font-style: normal;
  font-weight: 400;
  color: #000;
}

.progress {
  display: block;
  width: 300px;
  margin: 200px auto 0 auto;
}

.progress-dim{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  top: 0;
  left: 0;
  text-align: center;
  display: none;
}

.progress progress {
  display: block;
  margin: auto;
  width: 300px;
  border-width: 0;
  background: transparent;
}

.progress .task {
  display: block;
  font-size: 16px;
  padding: 5px 0;
  font-weight: 200;
  color: #000;
}

.actors {
  width: 60%;
  text-align: left;
  margin: 0 auto 30px auto;
  display: none;
  position: relative;
}

.parent{
  padding: 0 5px;
}

.parent i {
  font-size: 13px;
  color: #34CF62;
  margin: 0 1px 0 0;
}

.parent i.fa-circle-o {
  color: #b7b7b7;
}

.actors .lift {
  margin: 0 0 0 5px;
  font-size: 12px;
  font-weight: 500;
}

.actors .lift small{
  font-size: 12px;
}

.side-prob {
  font-size: 12px;
  color: #676767;
  font-weight: 400;
  padding: 0 0 0 5px;
}

.dots{
  display: none;
}

.level-1 .dots{
  display: inline-block;
}

.sub-text{
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #646667;
}

.footer{
  margin: 30px 0 0 0;
  text-align: center;
  color: #a4a6a7;
  font-size: 12px;
  font-weight: 200;
}

table{
  margin: 0 auto;
}

td {
  vertical-align: top;
}

td:empty,
th:empty{
  padding: 0;
}

th {
  color: #676767;
  font-weight: 400;
}

caption {
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  color: #103d52;
  text-align: left;
  position: relative;
}

.lift-toggle{
  position: absolute;
  top: 2px;
  right: 0;
  font-size: 11px;
  color: #676767;
}

.lift-text{
  color: #979797;
  font-size: 11px;
  font-weight: 200;
  display: none;
}

.cat-spinner{
  margin: 0 0 0 5px;
  font-weight: 500;
}

.cat {
  border: dotted 1px #b7b7b7;
  border-radius: 2px;
  margin: 5px 0;
  font-size: 16px;
  font-weight: 300;
  color: #03afe5;
  width: 100%;
}

.cat .dots{
  margin-right: 5px;
  display: inline-block;
  position: relative;
  top: -1px;
}

.child{
  text-align: left;
  padding: 5px 0 0 0;
}

.child table{
  width: 100%;
}

.dotstd{
  background: #f7f7f7;
  padding: 15px 0;
  text-align: center;
  width: 90px;
}

.child table td{
  text-align: left;
  padding: 3px 5px 2px 5px;
}

.item{
  white-space: nowrap;
}

.child .item-pill{
  margin-left: 5px;
  font-size: 15px;
  color: #03afe5;
}

.child .item-pill:hover{
  color: #34CF62;
  cursor: pointer;
}

.child .item-pill.no_children{
  color: #103d52;
  cursor: pointer;
}

.arrow-down{
  color: #f00 !important;
}

.catname{
  vertical-align: middle;
  padding: 10px;
}

.fa-refresh{
  color: #676767;
  font-size: 14px;
  position: relative;
  top: -1px;
}

.dim-other-cats{
  background: #fafafa;
  color: #dadada;
}

.dim-other-cats .category-pill{
  color: #dadada;
}

.lift-bar{
  display: inline-block;
  height: 4px;
  width: 30px;
  border: solid 1px #d7d7d7;
  border-radius: 1px;
  position: relative;
  top: -3px;
  border-color: #C8F2D4;
}

.lift-bar-inner{
  display: inline-block;
  position: absolute;
  top: 0;
  background: #000;
  height: 4px;
  right: 0;
  border-radius: 1px;
}

.lift-text{
  font-size: 11px;
  color: #c7c7c7;
  font-weight: 200;
  text-align: right;
}

.pos-bar{
  background: #34CF62;
}

.neg-bar{
  background: #f00;
}

.freq-text{
  color: #a7a7a7;
  font-size: 11px;
  font-weight: 300;
  display: inline-block;
  margin: 0 0 0 5px;
}

.category-pill:hover{
  color: #34CF62;
  cursor: pointer;
}

.level-2 .dotstd, .level-3 .dotstd, .level-4 .dotstd, .level-5 .dotstd, .level-6 .dotstd, .level-7 .dotstd{
  display: none;
}

.active-cat .category-pill{
  font-weight: 400;
  color: #103d52;
}

.active-item-pill{
  font-weight: 500;
}

.rule-show .item-pill, .outcome-text{
  display: inline-block;
  background: #ff9;
  padding: 1px 10px 1px 10px;
  border-radius: 3px;
  font-weight: 500;
  text-align: left;
}

.rule-show .item-pill{
  padding: 10px 10px 1px 10px;
  line-height: 22px;
  position: relative;
  top: 10px;
}

.rule-show .item-pill small{
  display: block;
  font-size: 13px;
  font-weight: 400;
}

.rule-show{
  font-weight: 300;
}

.prev, .next {
  display: inline-block;
  margin: 0 2px;
  color: #03afe5;
  font-size: 12px;
}

.next {
  margin-right: 10px;
}

.prev:hover, .next:hover{
  color: #34CF62;
}

.track{
  color: #979797;
  font-weight: 200;
  font-size: 12px;
}

.prev{
  margin-left: 10px;
}

.source-code{
  margin: 5px 0 0 0;
  font-weight: 300;
  color: #676767;
}

.source-code i{
  font-size: 16px;
  display: inline-block;
  margin-right: 3px;
}

.source-code a{
  color: #03afe5;
  font-size: 13px;
}

.source-code:hover{
  color: #34CF62;
}
